@font-face {
    font-family: "Cairo Black";
    src: url(../fonts/Cairo-Black.ttf);
}

@font-face {
    font-family: "Cairo Bold";
    src: url(../fonts/Cairo-Bold.ttf);
}

@font-face {
    font-family: "Cairo Extra Light";
    src: url(../fonts/Cairo-ExtraLight.ttf);
}

@font-face {
    font-family: "Cairo Light";
    src: url(../fonts/Cairo-Light.ttf);
}

@font-face {
    font-family: "Cairo Regular";
    src: url(../fonts/Cairo-Regular.ttf);
}

@font-face {
    font-family: "Cairo Semi Bold";
    src: url(../fonts/Cairo-SemiBold.ttf);
}